.wrapper {
  overflow: hidden;
}


.loader {
  height: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid var(--loader-color-primary);
  border-top-color: var(--loader-color-secondary);
  color: transparent;
  text-align: center;
  user-select: none;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: .8;
  }
  100% {
    transform: rotate(360deg);
    opacity: .8;
  }
}