@use "src/styles/colors" as colors;
@use "src/styles/shadows" as shadows;


$duration: 500ms;

.drawerBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  animation: backdrop $duration ease;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: start;
}

@keyframes backdrop {
  from {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  to {
    opacity: 1;
    backdrop-filter: blur(4px);
  }
}

.drawer {
  position: absolute;
  z-index: 101;
  min-width: 30rem;
  background-color: colors.$dark-600;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: shadows.$shadow-xl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drawerHeader {
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.drawerBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


[data-position="top"] {
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  border-radius: 0 0 0.5rem 0.5rem;

  animation: drawer-top $duration ease;

  @keyframes drawer-top {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}

[data-position="right"] {
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  border-radius: 0.5rem 0 0 0.5rem;

  animation: drawer-right $duration ease;

  @keyframes drawer-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

[data-position="bottom"] {
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0.5rem 0.5rem 0 0;

  animation: drawer-bottom $duration ease;

  @keyframes drawer-bottom {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
}

[data-position="left"] {
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  border-radius: 0 0.5rem 0.5rem 0;
  --_drawer_right: auto;

  animation: drawer-left $duration ease;

  @keyframes drawer-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
}