

.task {
  padding: 0 .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div > div {
    display: none;
    & > button {
      border: none;
      background: inherit;

      & > svg {
        width: 1.5rem;
        height: 1.5rem;
        padding: .25rem;
        &:hover {
          background: rgba(255, 77, 79, 0.4);
          border-radius: 25%;
          cursor: pointer;
        }
      }
    }

  }

  &:hover {
    & > div > div {
      display: inline-block;
    }
  }
}