
.description {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: .5rem;
  resize: vertical;
  &:focus {
    outline: 2px solid var(--outline-color);
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}