@use "src/styles/colors" as colors;

.wrapper {
  margin-top: 2rem;;
}

.description {
  width: 100%;
  padding: 1rem;
  border-radius: .5rem;
  resize: vertical;

  background-color: colors.$dark-600;
  border: 1px solid colors.$dark-500;

  &:focus {
    outline: 2px solid colors.$blue-500;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
}