@use "src/styles/colors" as colors;

.text {
    color: colors.$grape-000;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
    line-height: 1.55rem;
    word-spacing: 0;
    white-space: normal;
    word-break: normal;
    word-wrap: normal;
    text-indent: 0;
    text-shadow: none;
    text-rendering: auto;
    text-size-adjust: 100%;

    text-overflow: "…";
}

.primary {
    --_gradient: linear-gradient(45deg, colors.$yellow-800, colors.$red-800);
    background-color: colors.$primary-800;
}

.danger {
    --_gradient: linear-gradient(45deg, colors.$red-500, colors.$red-900);
    background-color: colors.$red-800;
}

.error {
    background-color: colors.$red-400;
}

.success {
    --_gradient: linear-gradient(45deg, colors.$green-500, colors.$green-900);
    background-color: colors.$green-800;
}

.warning {
    --_gradient: linear-gradient(45deg, colors.$yellow-500, colors.$yellow-900);
    background-color: colors.$yellow-800;
}

.info {
    --_gradient: linear-gradient(45deg, colors.$blue-500, colors.$blue-900);
    background-color: colors.$blue-800;
}

.light {
    --_gradient: linear-gradient(45deg, colors.$gray-500, colors.$gray-900);
    background-color: colors.$gray-800;
}

.dark {
    --_gradient: linear-gradient(45deg, colors.$dark-500, colors.$dark-900);
    background-color: colors.$dark-800;
}

.gradient {
    background-image: var(--_gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dimmed {
    opacity: 0.5;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.small {
  font-size: 1rem;
}

.medium {
  font-size: 1.5rem;
}

.large {
  font-size: 2rem;
}

.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2.5rem;
}

.h3 {
  font-size: 2rem;
}

.h4 {
  font-size: 1.5rem;
}

.h5 {
  font-size: 1.25rem;
}

.h6 {
  font-size: 1rem;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

.regular {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
