@use "src/styles/colors" as colors;

.text, .title {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0;
  line-height: 1.55rem;
  word-spacing: 0;
  white-space: normal;
  word-break: normal;
  word-wrap: normal;
  text-indent: 0;
  text-shadow: none;
  text-rendering: auto;
  text-size-adjust: 100%;
  margin: 0;
  text-overflow: "…";
}

.text {
  font-size: 1rem;
}

.title {
  font-weight: bold;
}


[data-gradient] {
  background-image: var(--_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dimmed {
  opacity: 0.5;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.small {
  font-size: 1rem;
}

.medium {
  font-size: 1.5rem;
}

.large {
  font-size: 2rem;
}

.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2.5rem;
}

.h3 {
  font-size: 2rem;
}

.h4 {
  font-size: 1.5rem;
}

.h5 {
  font-size: 1.25rem;
}

.h6 {
  font-size: 1rem;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

.regular {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
