.selector {
  display: flex;
  gap: .5rem;
  padding: 1rem;
  border-radius: .5rem;
  width: max-content;
}


.shade {
  display: flex;
  flex-direction: column;
  gap: .5rem;

}

.color {
  width: 2rem;
  height: 2rem;
  border-radius: 9999rem;
  border: none;
}


.selected {
  outline: greenyellow 2px solid;
  outline-offset: 2px;
}

.focus {
  outline: deepskyblue 2px solid;
  outline-offset: 2px;
}