
.avaiableTags {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  cursor: pointer;
}

.checkbox {
  display: none;
}

.name {
  border-radius: .5rem;
  padding: .5rem;
  display: flex;
  justify-self: stretch;
  border: 3px solid transparent;

}

.checkbox:checked ~ .name {
  border-color: aquamarine;
}