@use "src/styles/colors" as colors;
@use "src/styles/shadows" as shadows;

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: scroll;
}

.modal {
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative;
  z-index: 101;
  min-width: 30rem;
  background-color: colors.$dark-600;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: shadows.$shadow-xl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalHeader {
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modalBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}