@use "src/styles/colors" as colors;


[data-bg-color="primary"] {
  --_gradient: linear-gradient(45deg, #{colors.$yellow-800}, #{colors.$red-800}); //TODO: change to primary, primary-alt
  background-color: colors.$primary-800;
}

[data-bg-color="red"], [data-bg-color="danger"] {
  --_gradient: linear-gradient(45deg, #{colors.$red-600}, #{colors.$red-900});
  background-color: colors.$red-800;
}

[data-bg-color="green"], [data-bg-color="success"] {
  --_gradient: linear-gradient(45deg, #{colors.$green-600}, #{colors.$lime-600});
  background-color: colors.$green-800;
}

[data-bg-color="yellow"], [data-bg-color="warning"] {
  --_gradient: linear-gradient(45deg, #{colors.$yellow-600}, #{colors.$orange-700});
  background-color: colors.$yellow-800;
}

[data-bg-color="blue"], [data-bg-color="info"] {
  --_gradient: linear-gradient(45deg, #{colors.$blue-500}, #{colors.$indigo-900});
  background-color: colors.$blue-800;
}

[data-bg-color="gray"], [data-bg-color="light"] {
  --_gradient: linear-gradient(45deg, #{colors.$gray-600}, #{colors.$gray-800});
  background-color: colors.$gray-700;
}

[data-bg-color="dark"] {
  --_gradient: linear-gradient(45deg, #{colors.$dark-600}, #{colors.$dark-900});
  background-color: colors.$dark-800;
}


[data-bg-color="purple"] {
  --_gradient: linear-gradient(45deg, #{colors.$grape-900}, #{colors.$pink-800});
  background-color: colors.$grape-800;
}

[data-bg-color="pink"] {
  --_gradient: linear-gradient(45deg, #{colors.$pink-500}, #{colors.$grape-500});
  background-color: colors.$pink-800;
}

[data-bg-color="indigo"] {
  --_gradient: linear-gradient(45deg, #{colors.$indigo-700}, #{colors.$cyan-900});
  background-color: colors.$indigo-800;
}

[data-bg-color="cyan"] {
  --_gradient: linear-gradient(45deg, #{colors.$cyan-400}, #{colors.$indigo-800});
  background-color: colors.$cyan-800;
}

[data-bg-color="teal"] {
  --_gradient: linear-gradient(45deg, #{colors.$teal-500}, #{colors.$green-900});
  background-color: colors.$teal-800;
}

[data-bg-color="orange"] {
  --_gradient: linear-gradient(45deg, #{colors.$orange-500}, #{colors.$red-700});
  background-color: colors.$orange-800;
}

[data-bg-color="white"] {
  --_gradient: linear-gradient(45deg, #{colors.$gray-000}, #{colors.$gray-600});
  background-color: colors.$gray-000;
}

[data-gradient] {
  background-image: var(--_gradient);
}


[data-color="primary"] {
  --_gradient: linear-gradient(45deg, #{colors.$yellow-800}, #{colors.$red-800}); //TODO: change to primary, primary-alt
  color: colors.$primary-800;
}

[data-color="red"], [data-color="danger"] {
  --_gradient: linear-gradient(45deg, #{colors.$red-600}, #{colors.$red-900});
  color: colors.$red-800;
}

[data-color="green"], [data-color="success"] {
  --_gradient: linear-gradient(45deg, #{colors.$green-600}, #{colors.$lime-600});
  color: colors.$green-800;
}

[data-color="yellow"], [data-color="warning"] {
  --_gradient: linear-gradient(45deg, #{colors.$yellow-600}, #{colors.$orange-700});
  color: colors.$yellow-800;
}

[data-color="blue"], [data-color="info"] {
  --_gradient: linear-gradient(45deg, #{colors.$blue-500}, #{colors.$indigo-900});
  color: colors.$blue-800;
}

[data-color="gray"], [data-color="light"] {
  --_gradient: linear-gradient(45deg, #{colors.$gray-600}, #{colors.$gray-800});
  color: colors.$gray-800;
}

[data-color="dark"] {
  --_gradient: linear-gradient(45deg, #{colors.$dark-600}, #{colors.$dark-900});
  color: colors.$dark-800;
}

[data-color="purple"] {
  --_gradient: linear-gradient(45deg, #{colors.$grape-900}, #{colors.$pink-800});
  color: colors.$grape-800;
}

[data-color="pink"] {
  --_gradient: linear-gradient(45deg, #{colors.$pink-500}, #{colors.$grape-500});
  color: colors.$pink-800;
}

[data-color="indigo"] {
  --_gradient: linear-gradient(45deg, #{colors.$indigo-700}, #{colors.$cyan-900});
  color: colors.$indigo-800;
}

[data-color="cyan"] {
  --_gradient: linear-gradient(45deg, #{colors.$teal-500}, #{colors.$green-900});
  color: colors.$cyan-800;
}

[data-color="teal"] {
  --_gradient: linear-gradient(45deg, #{colors.$teal-500}, #{colors.$teal-900});
  color: colors.$teal-800;
}

[data-color="orange"] {
  --_gradient: linear-gradient(45deg, #{colors.$orange-500}, #{colors.$red-700});
  color: colors.$orange-800;
}

[data-color="white"] {
  --_gradient: linear-gradient(45deg, #{colors.$gray-000}, #{colors.$gray-600});
  color: colors.$gray-000;
}

[data-text-gradient] {
  background-image: var(--_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}