@use "src/styles/timing" as timing;
@use "src/styles/colors" as colors;

.button {
  border-radius: 0.5rem;
  cursor: pointer;
  appearance: none;
  user-select: none;
  width: auto;
  background-color: colors.$dark-800;
  transition: all 0.2s timing.$overshoot-timing;
  padding: 0.5rem 1rem;
  border: none;

  &:hover {
    scale: 1.1;
  }
}

.clicked {
  transform: translateY(2px);
}


.button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    scale: 1;
  }
}

.gradient {
  background-image: var(--_gradient);
}


