//TODO: This whole thing looks terrible, but it works for now. I'll come back to it later.
.contextmenu {
  position: absolute;
  display: grid;
  width: fit-content;
  border-radius: .5rem;
  overflow: hidden;


  transform-origin: top;

  transition: transform 500ms;
}

.entry {
  display: flex;
  background-color: inherit;
  border: none;
  align-items: start;
  padding: .5rem 1rem;
  margin: .5rem;
  gap: .5rem;
  cursor: pointer;
  border-radius: .5rem;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  & > div {
    overflow: hidden;
  }
}

.open {
  animation: scale 500ms cubic-bezier(.68, -0.55, .27, 1.55);
}

.close {
  animation: scale 500ms cubic-bezier(.68, -0.55, .27, 1.55) reverse;
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 100%;
    transform: scaleY(1);
  }

}