//TODO: This whole thing looks terrible, but it works for now. I'll come back to it later.
.contextmenu {
  position: absolute;
  display: grid;
  width: fit-content;
  border: solid 1px;
  border-radius: .5rem;
  overflow: hidden;

  grid-template-columns: 0;

  transition: grid-template-columns 500ms ease-in-out;
}

.entry {
  display: flex;
  align-items: start;
  padding: .5rem 1rem;
  margin: .5rem;
  gap: .5rem;
  cursor: pointer;
  border-radius: .5rem;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  & > div {
    overflow: hidden;
  }
}

.opened {
  background-color: aquamarine;
  grid-template-rows: 1fr;
}

.closed {
  animation: slide 500ms ease-in-out reverse;
}

@keyframes slide {
  0% {
    max-height: 0;
  }
  100% {
    max-height: calc(fit-content + 1px);
  }
}