.active {
  visibility: visible;
  opacity: 1;
  transition: opacity calc(var(--duration, attr(duration)) * 1ms) ease-in-out;
}

.hidden {
  visibility: hidden;
  display: none !important;
  opacity: 0;
  transition: visibility calc(var(--duration, attr(duration)) * 1ms), opacity calc(var(--duration, attr(duration)) * 1m) ease-in-out;
}


.opacity-show {
  animation: opacity-anim calc(var(--duration, attr(duration)) * 1ms) ease-in-out;
}

.opacity-hide {
  animation: opacity-anim calc(var(--duration, attr(duration)) * 1ms) ease-in-out reverse;
}

@keyframes opacity-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.left {
  --translate: translateX(-100%);
  animation: slide-anim-x calc(var(--duration, attr(duration)) * 1ms) ease-in-out reverse;
}

.right {
  --translate: translateX(-100%);
  animation: slide-anim-x calc(var(--duration, attr(duration)) * 1ms) ease-in-out;
}

@keyframes slide-anim-x {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  flex-direction: row;
}

.none {
}