.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  visibility: hidden;
  display: none;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s ease-in-out;
}

.hiddenLeft {
  --translate: translateX(-100%);
}

.hiddenRight {
  --translate: translateX(100%);
}

.slideX {
  animation: slide-anim-x 10s ease-in-out;
}

.slideXReverse {
  animation: slide-anim-x 10s ease-in-out reverse;
}

@keyframes slide-anim-x {
  0% {
    transform: var(--translate);
  }
  100% {
    transform: translateX(0);
  }
}

.opacity-show {
  animation: opacity-anim 10s ease-in-out;
}

.opacity-hide {
  animation: opacity-anim 10s ease-in-out reverse;
}

@keyframes opacity-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//.slide-y {
//  transform: translateY(100%);
//}
//
//.rotate-left {
//  transform: rotate(-90deg);
//}
//
//.rotate-right {
//  transform: rotate(90deg);
//}
//
//.flip-x {
//  transform: scaleX(-1);
//}
//
//.flip-y {
//  transform: scaleY(-1);
//}

.wrapper {
  display: flex;
  //overflow: hidden;
  width: 50%;
  margin-right: 50%;
  flex-direction: row;
}