
.footer {
  display: flex;
  align-items: center;
  gap: .25rem;
  padding: .5rem 1rem;
  min-width: 24rem;

  &:hover {
    background: rgba(77, 160, 255, 0.3);
  }
}

.board {
  & > div.cols {
    overflow-x: scroll;
  }
}