@use "src/styles/colors" as colors;
@use "src/styles/shadows" as shadows;

.footer {
  display: flex;
  align-items: center;
  gap: .25rem;
  min-width: 24rem;
  height: 3rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  background-color: colors.$dark-400;
  border: 1px solid colors.$dark-500;
  box-shadow: shadows.$shadow-md;


  &:hover {
    background: rgba(77, 160, 255, 0.3);
  }
}

.board {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 2rem;

  & > div[data-rbd-droppable-context-id] {
    height: 100%;

    & > div.cols {
      height: 100%;

      & > div {
        height: 100%;

        & > div {
          height: 100%;
        }
      }
    }
  }

  & > p {
    margin-bottom: 2rem;
  }
}


.title {
  margin-top: 1rem;
}

.cols {
  gap: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;


  & > div > div {
    padding-right: 1rem;
  }
}

.add > div.menu {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.add > input {
  width: 24rem;
  min-height: 3rem;
  border-radius: .5rem;
  padding: .5rem 1rem;
  border: 2px solid colors.$dark-300;

  &:focus-visible {
    border: 2px solid colors.$cyan-500;
    outline: none;
  }
}