body {
    /*background-color: #1a1b1e;*/
    height: 100vh;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    background-color: rgb(26, 27, 30);
    color: rgb(193, 194, 197);
    line-height: 1.55;
    font-size: 1rem;

    margin: 0;
    text-align: center;
}
