@use "src/styles/colors" as colors;
@use "src/styles/shadows" as shadows;

.dimmed {
  color: rgb(193, 194, 197)
}


.boardsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  & > h1 {
    margin: 0;
  }
}


.dashboard {
  padding: 1rem;
  border-radius: .5rem;
  background-color: colors.$dark-600;
  max-width: 60rem;
  margin: 2rem auto 0;
}

.boards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5rem 1rem 1rem;
  max-height: 1000px;

  &:hover {
    & > div {
      display: flex;
    }
  }
}

.noBoards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  & > p {
    margin: 0 0 0 2rem;
  }

}

.noWorkspaces {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  //TODO
}


.workspaces {
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  gap: 1rem;
  //background-color: colors.$red-600;
}

.workspace {
  border-radius: .5rem;
  padding: .5rem 0;
  border-top: 2px solid colors.$dark-500;
  //border-top-color: colors.$dark-700;

  box-shadow: shadows.$shadow-x;

  & > div:hover {
    position: relative;
    min-height: 2rem;
    display: flex;
    align-items: center;

    & > .workspaceHovermenu {
      display: flex;
    }
  }
}


//.collapseButton > svg {
//  transition: transform 0.5s ease-in-out;
//  transform: rotate(0deg);
//
//}

.collapsed {
  transition: transform 0.5s ease-in-out;
  transform: rotate(-90deg);
}

.hide {
  display: none; //TODO: animate height to 0
}

.workspaceName {
  display: flex;
  margin-left: .5rem;
  gap: .5rem;

  & > button {
    background: transparent;
    border: none;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: .25rem;

    & > svg {
      transition: transform 0.5s ease-in-out;
    }


    &:hover {
      cursor: pointer;
      background-color: rgba(128, 128, 128, 0.5);
    }
  }

}

.board {
  background-color: colors.$dark-700;
  border: 1px solid colors.$dark-500;

  width: 100%;
  position: relative;
  border-radius: .5rem;

  &:hover {
    background-color: colors.$dark-800;

    & > .boardHovermenu {
      display: flex;
    }
  }

  & > a {
    display: block;
    padding: .5rem;
    appearance: none;
    text-decoration: none;
    height: 3rem;
    color: colors.$dark-000;
  }
}

.boardHovermenu, .workspaceHovermenu {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 2rem;
  align-self: center;

  & > div > button {
    height: 2rem;
    width: 2rem;
    background: inherit;
    border: none;
    padding: .25rem;
    border-radius: .5rem;
    cursor: pointer;

    & > svg {
      width: 1rem;
      height: 1rem;
    }

    &:hover {
      background: rgba(128, 128, 128, 0.5);
    }
  }

  & > .delete > button:hover {
    background: #{colors.$red-800}80;
  }
}

.boardHovermenu {
  padding-right: .5rem;
  padding-top: .5rem;
}

.workspaceHovermenu {
  padding-right: .5rem;
}

.errornav {
  width: 10rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > button {
    width: 100%;
    margin: 1rem;
    padding: .5rem;
    appearance: none;
    border-radius: .5rem;
    border-style: solid;
    border-width: 1px;

    & > div > span {
      & > svg {
        margin-right: .5rem;
      }

      & > .rotate {
        animation: rotate 1s ease-in-out infinite;


        @keyframes rotate {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        };
      }
    }
  }
}


.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  & > textarea input {
    margin-bottom: 1rem;
    width: 100% !important;
  }

  & > button {
    align-self: start;
  }
}