@use "src/styles/colors" as colors;

.dimmed {
  color: rgb(193, 194, 197)
}


.boards {
  padding: 1rem;
  border-radius: .5rem;
  background-color: colors.$dark-600;
  max-width: 60rem;
  margin: 2rem auto 0;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    & > h1 {
      margin: 0;
    }
  }

  & > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;

    & > li:not(.no-boards) {
      background-color: colors.$dark-700;
      border: 1px solid colors.$dark-500;

      & > a {
        color: colors.$dark-000;
      }

      &:hover {
        background-color: colors.$dark-800;
      }
    }

    & > li {
      width: 100%;
      position: relative;
      border-radius: .5rem;

      & > a {
        display: block;
        padding: .5rem;
        appearance: none;
        text-decoration: none;
        height: 3rem;
      }

      & > div {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        height: 2rem;
        padding-right: .5rem;
        padding-top: .5rem;

        & > div > button {
          height: 2rem;
          width: 2rem;
          background: inherit;
          border: none;
          padding: .25rem;
          border-radius: 25%;
          cursor: pointer;

          & > svg {
            width: 1rem;
            height: 1rem;
          }

          &:hover {
            background: rgba(255, 77, 79, 0.4);
          }
        }
      }

      &:hover {
        & > div {
          display: block;
        }
      }
    }

  }
}

.errornav {
  width: 10rem;
  margin: 0 auto;

  & > button {
    width: 100%;
    margin: 1rem;
    padding: .5rem;
    appearance: none;
    border-radius: .5rem;
    border-style: solid;
    border-width: 1px;

    & > div > span {
      & > svg {
        margin-right: .5rem;
      }

      & > .rotate {
        animation: rotate 1s ease-in-out infinite;


        @keyframes rotate {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        };
      }
    }
  }
}


.form {
  & > textarea input {
    margin-bottom: 1rem;
  }

}