
.boards {
  padding: 1rem;
  border-radius: .5rem;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    & > h1 {
      margin: 0;
    }
  }

  & > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;

    & > li {
      width: 100%;
    }

    & > li > a {
      display: block;
      padding: .5rem;
      appearance: none;
      text-decoration: none;
      border-radius: .5rem;
      border-style: solid;
      border-width: 1px;
    }
  }
}

.errornav {
  width: 10rem;
  margin: 0 auto;

  & > button {
    width: 100%;
    margin: 1rem;
    padding: .5rem;
    appearance: none;
    border-radius: .5rem;
    border-style: solid;
    border-width: 1px;

    & > div > span {
      & > svg {
        margin-right: .5rem;
      }

      & > .rotate {
        animation: rotate 1s ease-in-out infinite;


        @keyframes rotate {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        };
      }
    }
  }
}